<?xml version="1.0"?>
<config>
    <modules>
        <Produweb_Brands>
            <version>0.1.3</version>
        </Produweb_Brands>
    </modules>
    <global>
        <models>
            <brands>
                <class>Produweb_Brands_Model</class>
                <resourceModel>brands_resource</resourceModel>
            </brands>
            <brands_resource>
                <class>Produweb_Brands_Model_Resource</class>
                <entities>
                    <brand>
                        <table>brands_brand</table>
                    </brand>
                </entities>
            </brands_resource>
        </models>
        <blocks>
            <brands>
                <class>Produweb_Brands_Block</class>
            </brands>
        </blocks>
        <helpers>
            <brands>
                <class>Produweb_Brands_Helper</class>
            </brands>
        </helpers>
        <resources>
            <brands_setup>
                <setup>
                    <module>Produweb_Brands</module>
                    <class>Produweb_Brands_Model_Entity_Setup</class>
                </setup>
            </brands_setup>
            <brands_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brands_read>
            <brands_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brands_write>
        </resources>
    </global>
    <frontend>
        <routers>
            <brands>
                <use>standard</use>
                <args>
                    <module>Produweb_Brands</module>
                    <frontName>brands</frontName>
                </args>
            </brands>
        </routers>
        <layout>
            <updates>
                <brands>
                    <file>brands.xml</file>
                </brands>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <brands>
                    <file>brands.xml</file>
                </brands>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Produweb_Brands_Adminhtml before="Mage_Adminhtml">Produweb_Brands_Adminhtml</Produweb_Brands_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>