<?xml version="1.0"?>
<config>
    <modules>
        <Produweb_Navigate>
            <version>0.1.0</version>
        </Produweb_Navigate>
    </modules>
    <global>
        <models>
            <navigate>
                <class>Produweb_Navigate_Model</class>
                <resourceModel>navigate_resource</resourceModel>
            </navigate>
            <navigate_resource>
                <class>Produweb_Navigate_Model_Resource</class>
                <entities>
                    <menu>
                        <table>navigate_menu</table>
                    </menu>
                    <menu_item>
                        <table>navigate_menu_item</table>
                    </menu_item>
                </entities>
            </navigate_resource>
        </models>
        <blocks>
            <navigate>
                <class>Produweb_Navigate_Block</class>
            </navigate>
        </blocks>
        <helpers>
            <navigate>
                <class>Produweb_Navigate_Helper</class>
            </navigate>
        </helpers>
        <resources>
            <navigate_setup>
                <setup>
                    <module>Produweb_Navigate</module>
                </setup>
            </navigate_setup>
        </resources>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <navigate>
                    <file>navigate.xml</file>
                </navigate>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Produweb_Navigate_Adminhtml before="Mage_Adminhtml">Produweb_Navigate_Adminhtml</Produweb_Navigate_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>